.experiencia {
  background: linear-gradient(135deg, #5f3a59, #49dfb54f);
  color: #fff;
  padding: 1.5rem;
  text-align: left;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: auto;
  width: auto;
}

.experiencia h2 {
  font-size: 1.99rem;
  margin-bottom: 1.5rem;
  color: black;
}

.title-exp {
  color: black;
  font-size: xx-large;
  -webkit-text-stroke: thin;
  background: linear-gradient(52deg, #3c8cab, #00000024);
  padding: 6px;
  border-radius: 6px;
  box-shadow: 3px 3px 6pc 6px cornflowerblue;
  margin-bottom: 12px;
}

.experiencia p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: antiquewhite;
}

ul {
  padding-left: 20px;
  color: wheat;
}

li {
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 1.2rem;
}
