.footer {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px -12px 9px rgba(66, 67, 79, 0.42);
  background: rgba(0, 0, 0, 0.8);
  width: -webkit-fill-available;
}

.title-contact {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-size: 3.3rem;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.footer-link {
  color: #ffcc00;
  text-decoration: none;
}

.footer-link:hover {
  color: #ffdf85;
}

.containerFooter {
  padding-top: 30px;
}

.social-link {
  display: inline-block;
  margin: 0 15px;
  color: #00e9ff;
  text-decoration: none;
  font-size: 1.8rem;
}

.contenedorContacto {
  justify-items: center;
  border: solid 1px lightseagreen;
  box-shadow: 0px 0px 30px;
  border-radius: 30px;
  padding-bottom: 6px;
}

.social-link:hover {
  color: #ffffff;
}

.copyright {
  color: #888;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.datesContact {
  grid-column-start: auto;
  justify-items: left;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .social-link {
    font-size: 1.2rem;
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  .datesContact {
    font-size: 1.2rem;
  }
  .rrssFooter {
    margin-top: 9px;
  }
}

@media (max-width: 480px) {
  .contenedorContacto {
    padding-right: 15px;
    padding-left: 15px;
  }
}
