.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 20px 9px rgb(66 67 79 / 42%);
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1rem;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.contact {
  padding: 1rem 3rem;
  display: block;
  justify-items: center;
  background-color: darkgoldenrod;
  margin: 63px;
  padding: 50px;
  border-radius: 120px;
  text-align: center;
}

.lista-contacto {
  display: list-item;
  margin: 10px 0;
}

.teléfono {
  display: list-item;
}
