.proyectos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.prjct {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  align-items: stretch;
}

.project-card {
  background-color: #f8f5f2;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 339px;
  min-height: 450px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: transform 0.3s ease;
  overflow: hidden;
  min-height: 500px;
  border: solid #17b9dd;
}

.project-card:hover {
  transform: translateY(-5px);
}

.image-container {
  flex-shrink: 0;
  height: 169px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene proporción */
  border-radius: 30px;
}

.content-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1; /* Asegura que se expandan de manera uniforme */
}

.project-card h3 {
  font-size: 1.6rem;
  align-content: center;
  margin: 10px 0;
  min-height: 50px;
}

.project-card p {
  font-size: 1.2rem;
  margin: 10px 0;
  flex-grow: 1; /* Permite que las descripciones se expandan */
}

.logos-proyect {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.icon-mini {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.title-prjct {
  margin-bottom: 50px;
  color: beige;
  font-size: 69px;
  text-align: center;
  text-shadow: 0px 12px 12px rgb(74 188 191 / 111%);
}

.repositorios-targets {
  font-size: x-large;
  margin-top: 15px;
}

.title {
  color: black;
}
